* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	background-color: #333;
	font-family: "Segoe UI", Calibri, "Myriad Pro", Myriad, "Trebuchet MS", Helvetica, Arial, sans-serif; 
	color: #CCC;
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	display: none;
	width: 100%;
	height: 50px;
	background-color: #222;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.splash {
	display: none;
	width: 100%;
	min-height: 100%;
	background: url('../img/bg.jpg') no-repeat 100% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
}
.splash-logo {
	display: none;
	width: 218px;
	height: 33px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url('../img/logo.png');
}
.content {
	display: none;
	clear: both;
}
.logo {
	float: left;
	padding: 14px 10px 0px 14px;
}
.button {
	text-align: center;
	min-width: 100px;
	display: inline-block;
	margin: 5px 5px 5px 0px;
	padding: 12px 15px 15px 15px;
	font-size: 10pt;
	text-decoration: none;
	color: #CCC;
	background-color: #444;
	border-radius: 5px;
}
.sub-menu {
	height: 40px;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

/* loading */

.loading {
	line-height: 50px;
	margin-right: 14px;
	display: block;
	float: right;
	font-size: 15pt;
}
.loading-no-connection {
	line-height: 50px;
	margin-right: 14px;
	display: block;
	float: right;
	font-size: 15pt;
}

/* menu */

.menu {
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	z-index: 5000;
}
.menu-item {
	/*box-sizing: border-box;*/
	float: left;
	position: relative;
	display: block;
	width: 20%;
	/*border-right: 1px solid #3A3A3A;*/
	/*border-left: 1px solid #222;*/
	/*border-top: 1px solid #3A3A3A;*/
	border-bottom: 1px solid #222;
	height: 50px;
	text-align: center;
	text-decoration: none;
	/*background-color: #2A2A2A;*/
	background-color: #222;
	color: #555;
}
.menu-item i {
	line-height: 40px;
	display: block;
	font-size: 17pt;
	padding: 5px;
	border-right: 1px solid #333;
	height: 100%;
	/*text-shadow: 2px 2px #111;*/
}
.selected {
	color: #DDD;
	background-color: #333;
	border-top: none;
}

/* misc */

.add-to-buddy-list, .remove-from-buddy-list {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 5px;
	line-height: 40px;
	height: 40px;
	width: 60px;
	display: none;
	text-align: center;
	margin: 0;
	background-color: #2A2A2A;
	font-size: 14pt;
	color: #FFF;
	text-decoration: none;
}
.centre-of-content {
	height: 75px;
	padding-top: 125px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
}

/* offline */

.offline {
	display: none;
	position: absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.offline-modal {
	width: 100%;
	height: 100px;
	display: block;
	text-align: center;
}
.offline h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 0;
	color: #DDD;
}
.offline h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: initial;
	margin-top: 0;
	margin-bottom: 40px;
	color: #BBB;
}
.offline a {
	display: inline-block;
	text-decoration: none;
	color: #CCC;
	border-radius: 5px;
	background-color: #2A2A2A;
	padding: 10px 15px;
}

/* home */

.home {
	display: none;
	padding: 10px 10px 50px 10px;
}
.welcome {
	display: none;
}
.welcome h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 0;
	color: #DDD;
}
.welcome h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: initial;
	margin-top: 0;
	color: #BBB;
}
.welcome-search {
	position: relative;
	width: 250px;
	margin: 0 auto;
}
.welcome-username {
	border-radius: 5px;
	display: block;
	margin: 40px auto 20px auto;
	width: 220px;
	border: 0;
	background-color: #2A2A2A;
	padding: 15px;
	font-size: 12pt;
	color: #CCC;
}
.welcome-lfs {
	position: absolute;
	top: 14px;
	right: 12px;
}
.welcome-lfs-message {
	text-align: center;
}
.welcome-next {
	display: block;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin: 25px auto 0px auto;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	background-color: #77FF00;
	color: #333;
	font-weight: bold;
}
.server-statistics {
	display: none;
	overflow: auto;
}
.server-statistics h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 40px;
	color: #DDD;
}
.change-lfs-username {
	text-decoration: none;
	color: #DDD;
}
.players-online-display {
	overflow: auto;
	width: 50%;
	float: left;
}
.players-online-heading {
	margin: 0px 0px 0px 0px;
	width: 100%;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
}
.players-online {
	margin: 0px 0px 5px 0px;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	color: #FFF;
}
.buddies-online {
	margin: 0;
	text-align: center;
	font-size: 10pt;
	padding: 10px;
}
.home-buddy {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 2px;
	background-color: #2A2A2A;
	font-size: 10pt;
	text-decoration: none;
	color: #CCC;
}

/* buddies */

.buddies {
	display: none;
	padding: 10px;
	text-align: center;
}
.buddies h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 40px;
	color: #DDD;
}

/* lookup */

.lookup {
	display: none;
	padding: 10px 10px 60px 10px;
	text-align: center;
	overflow: auto;
}
.lookup-left {
	width: 50%;
	float: left;
}
.lookup-right {
	width: 50%;
	float: left;
}
.lookup h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 40px;
	color: #DDD;
}
.search {
	position: relative;
	width: 250px;
	height: auto;
	margin: 0 auto;
}
.search-box {
	border-radius: 5px;
	display: block;
	margin: 0px 0px 20px 0px;
	width: 220px;
	border: 0;
	background-color: #2A2A2A;
	padding: 15px;
	font-size: 12pt;
	color: #CCC;
}
.lookup-identity {
	position: relative;
	width: 285px;
	margin: 0px auto 15px;
}
h1.lookup-username {
	text-align: left;
	font-weight: bold;
	color: #FFF;
	font-size: 20pt;
	margin: 0;
	word-wrap: break-word;
}
.online-status {
	display: none;
	position: absolute;
	top: 18px;
	right: 20px;
	border-radius: 6px;
}
.lookup-table {
	display: none;
	margin: 0 auto;
	width: 285px;
}
.lookup-table-row {
	width: 285px;
	height: 20px;
	line-height: 20px;
}
.lookup-table-icon {
	float: left;
	color: #AAA;
}
.lookup-table-data {
	text-align: left;
	margin-left: 30px;
	font-size: 11pt;
}
.lookup-nickname {
	text-align: left;
	font-weight: bold;
	margin: 0;
}
.lookup-admin {
	text-align: left;
	display: none;
	font-weight: bold;
	font-size: 8pt;
	color: #FFF;
	margin: 0px auto 5px auto;
}
.data-meta {
	margin: 0 auto;
	color: #FFF;
}
.lookup-buddy {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 2px;
	background-color: #2A2A2A;
	text-decoration: none;
	color: #CCC;
	font-size: 10pt;
}
.lookup-graph {
	width: 280px;
	margin: 0 auto;
	margin: 25px 0px 0px 0px;
}
.lookup-graph-title {
	font-weight: bold;
	color: #FFF;
	margin-bottom: 10px;
}
.lookup-graph-header {
	height: 25px;
	width: 100%;
}
.lookup-graph-success {
	display: block;
	float: left;
	color: #FFF;
	margin: 0px;
}
.lookup-graph-xp {
	display: block;
	float: right;
	color: #AAA;
	margin: 0px;
}

/* vin */

.vin {
	display: none;
	padding: 10px;
}
.vin h1 {
	margin-top: 25px;
	font-size: 14pt;
	text-align: center;
}

/* settings */

.settings {
	padding: 10px 10px 60px 10px;
	display: none;
}
.settings i {
	font-size: 14pt;
}
.settings-menu {
	width: 285px;
	margin: 0 auto;
}
.settings h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 40px;
	color: #DDD;
}
.setting {
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
}
.setting-icon {
	border-radius: 5px 0px 0px 5px;
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	float: left;
	background-color: #2A2A2A;
}
.setting-name {
	width: 200px;
	height: 40px;
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
	background-color: #2A2A2A;
}
.setting-change-state {
	border-radius: 0px 5px 5px 0px;
	height: 40px;
	width: 40px;
	display: block;
	text-align: center;
	float: left;
	margin: 0;
	background-color: #2A2A2A;
	color: #FFF;
}
.about {
	margin-top: 40px;
	text-align: center;
	font-size: 10pt;
	color: #222;
}

/* line charts */

.line-graph {
	margin: 0;
	position: relative;
	width: 280px;
	height: 25px;
}
.line-labels {
	height: 20px;
	color: #FFF;
	font-size: 10pt;
}
.line-positive {
	float: left;
	height: 5px;
	border-right: solid 2px #333;
	border-radius: 2.5px 0px 0px 2.5px;
	background-color: #00FF00;
}
.line-positive-label {
	float: left;
}
.line-negative {
	width: auto;
	height: 5px;
	border-radius: 2.5px;
	background-color: #FF0000;
}
.line-negative-label {
	float: right;
}
.line {
	clear: both;
}

/* media queries */

@media (max-width: 900px) {
	.lookup-left {
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}
	.lookup-right {
		float: none;
		width: 100%;
	}
}

@media (max-height: 500px) {
	.home h1, .lookup h1, .buddies h1, .settings h1 {
		font-size: 20pt;
		margin-top: 0px;
		margin-bottom: 15px;
	}
	h1.lookup-username {
		margin-bottom: 0;
	}
}