* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	background-color: #333;
	font-family: "Segoe UI", Calibri, "Myriad Pro", Myriad, "Trebuchet MS", Helvetica, Arial, sans-serif; 
	color: #CCC;
	margin: 0;
	padding: 0;
	height: 100%;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 50px;
	background-color: #222;
	z-index: 20000;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.splash {
	display: none;
	width: 100%;
	min-height: 100%;
	background: url('../img/bg.jpg') no-repeat 100% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
}
.splash-logo {
	display: none;
	width: 218px;
	height: 33px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url('../img/logo.png');
}
.content {
	display: none;
	clear: both;
}
.logo {
	float: left;
	padding: 14px 10px 0px 14px;
}
.button {
	text-align: center;
	min-width: 100px;
	display: inline-block;
	margin: 5px 5px 5px 0px;
	padding: 12px 15px 15px 15px;
	font-size: 10pt;
	text-decoration: none;
	color: #CCC;
	background-color: #444;
	border-radius: 5px;
}
.sub-menu {
	height: 40px;
	text-align: center;
	margin-top: 20px;
	clear: both;
}

/* loading */

.loading {
	line-height: 50px;
	margin-right: 14px;
	display: block;
	float: right;
	font-size: 15pt;
}
.loading-no-connection {
	line-height: 50px;
	margin-right: 14px;
	display: block;
	float: right;
	font-size: 15pt;
}

/* menu */

.menu {
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	z-index: 5000;
}
.menu-item {
	/*box-sizing: border-box;*/
	float: left;
	position: relative;
	display: block;
	width: 20%;
	/*border-right: 1px solid #3A3A3A;*/
	/*border-left: 1px solid #222;*/
	/*border-top: 1px solid #3A3A3A;*/
	border-bottom: 1px solid #222;
	height: 50px;
	text-align: center;
	text-decoration: none;
	/*background-color: #2A2A2A;*/
	background-color: #222;
	color: #555;
}
.menu-item i {
	line-height: 40px;
	display: block;
	font-size: 17pt;
	padding: 5px;
	border-right: 1px solid #333;
	height: 100%;
	/*text-shadow: 2px 2px #111;*/
}
.selected {
	color: #DDD;
	background-color: #333;
	border-top: none;
}

/* misc */

.add-to-buddy-list, .remove-from-buddy-list {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	line-height: 40px;
	height: 40px;
	width: 60px;
	display: none;
	text-align: center;
	margin: 0;
	background-color: #2A2A2A;
	font-size: 14pt;
	color: #FFF;
	text-decoration: none;
}
.centre-of-content {
	height: 75px;
	padding-top: 125px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
}

/* offline */

.offline {
	display: none;
	position: absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.offline-modal {
	width: 100%;
	height: 100px;
	display: block;
	text-align: center;
}
.offline h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-top: 75px;
	margin-bottom: 0;
	color: #DDD;
}
.offline h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: initial;
	margin-top: 0;
	margin-bottom: 40px;
	color: #BBB;
}
.offline a {
	display: inline-block;
	text-decoration: none;
	color: #CCC;
	border-radius: 5px;
	background-color: #2A2A2A;
	padding: 10px 15px;
}

/* home */

.home {
	display: none;
	padding: 10px 10px 50px 10px;
}
.welcome {
	display: none;
}
.welcome h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 0;
	color: #DDD;
}
.welcome h2 {
	text-align: center;
	font-size: 12pt;
	font-weight: initial;
	margin-top: 0;
	color: #BBB;
}
.welcome-search {
	position: relative;
	width: 285px;
	margin: 0 auto;
}
.welcome-username {
	border-radius: 5px;
	display: block;
	margin: 40px auto 20px auto;
	width: 220px;
	border: 0;
	background-color: #2A2A2A;
	padding: 15px;
	font-size: 12pt;
	color: #CCC;
}
.welcome-lfs {
	position: absolute;
	top: 14px;
	right: 12px;
}
.welcome-lfs-message {
	text-align: center;
}
.welcome-next {
	display: block;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	margin: 25px auto 0px auto;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	background-color: #77FF00;
	color: #333;
	font-weight: bold;
}
.server-statistics {
	display: none;
	overflow: auto;
}
.server-statistics h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-top: 75px;
	margin-bottom: 40px;
	color: #DDD;
}
.change-lfs-username {
	text-decoration: none;
	color: #DDD;
}
.players-online-display {
	overflow: auto;
	width: 50%;
	float: left;
}
.players-online-heading {
	margin: 0px 0px 0px 0px;
	width: 100%;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
}
.players-online {
	margin: 0px 0px 5px 0px;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	color: #FFF;
}
.buddies-online {
	margin: 0;
	text-align: center;
	font-size: 10pt;
	padding: 10px;
}
.home-buddy {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 2px;
	background-color: #2A2A2A;
	font-size: 10pt;
	text-decoration: none;
	color: #CCC;
}

/* buddies */

.buddies {
	display: none;
	padding: 10px;
	text-align: center;
	margin-bottom: 50px;
}
.buddies h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-top: 75px;
	margin-bottom: 40px;
	color: #DDD;
}
.buddy-list {
	display: none;
}
.buddy-table {
	width: 285px;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
}
.buddy-table-title {
	font-weight: bold;
	text-align: left;
	color: #FFF;
	margin-bottom: 15px;
}
.buddy-table-headings .buddy-table-header {
	color: #FFF;
	background-color: #2A2A2A;
	font-size: 12pt;
	text-align: center;
	border-radius: 5px;
}
.buddy-table-buddy {
	width: 100%;
	clear: both;
	overflow: auto;
	margin-bottom: 5px;
	font-size: 11pt;
}
.buddy-table-username {
	float: left;
	width: 200px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
	border-radius: 5px 0px 0px 5px;
}
.buddy-table-remove {
	float: left;
	width: 20px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
}
.buddy-table-view{
	float: left;
	width: 20px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
	border-radius
}
.buddy-messages {
	display: none;
}
.buddy-table-row {
	font-size: 11pt;
	clear: both;
	overflow: auto;
	margin-bottom: 5px;
}

/* lookup */

.lookup {
	display: none;
	padding: 10px 10px 60px 10px;
	text-align: center;
	overflow: auto;
}
.lookup h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-top: 75px;
	margin-bottom: 40px;
	color: #DDD;
}
.search {
	position: relative;
	width: 600px;
	height: auto;
	margin: 0 auto;
}
.search-box {
	border-radius: 5px;
	display: block;
	margin: 0px 0px 5px 0px;
	width: 570px;
	border: 0;
	background-color: #2A2A2A;
	padding: 15px;
	font-size: 12pt;
	color: #CCC;
}
.lookup-group {
	width: 600px;
	overflow: auto;
	margin: 0 auto;
}

.lookup-identity {
	display: none;
	padding: 10px;
	position: relative;
	width: 580px;
	margin: 0px auto 15px auto;
	border-radius: 5px;
	background-color: #2E2E2E;
}
h1.lookup-username {
	text-align: left;
	font-weight: bold;
	color: #FFF;
	font-size: 20pt;
	margin: 0;
	word-wrap: break-word;
}
.online-status {
	display: none;
	position: absolute;
	top: 18px;
	right: 20px;
	border-radius: 6px;
}
.lookup-table {
	float: left;
	display: none;
	margin: 0 auto;
	width: 285px;
}
.lookup-table-row {
	width: 285px;
	height: 20px;
	line-height: 20px;
}
.lookup-table-icon {
	float: left;
	color: #AAA;
}
.lookup-table-data {
	text-align: left;
	margin-left: 30px;
	font-size: 11pt;
}
.lookup-nickname {
	text-align: left;
	font-weight: bold;
	margin: 0;
}
.lookup-admin {
	text-align: left;
	display: none;
	font-weight: bold;
	font-size: 8pt;
	color: #FFF;
	margin: 0px auto 5px auto;
}
.data-meta {
	margin: 0 auto;
	color: #FFF;
}
.lookup-buddy {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 2px;
	background-color: #2A2A2A;
	text-decoration: none;
	color: #CCC;
	font-size: 10pt;
}
.lookup-graph {
	width: 280px;
	margin: 0 auto;
	margin: 15px 0px 0px 0px;
}
.lookup-graph-title {
	font-weight: bold;
	text-align: left;
	color: #FFF;
	margin-bottom: 5px;
}
.lookup-graph-header {
	height: 25px;
	width: 100%;
}
.lookup-graph-success {
	display: block;
	float: left;
	color: #FFF;
	margin: 0px;
}
.lookup-graph-xp {
	display: block;
	float: right;
	color: #AAA;
	margin: 0px;
}
.lookup-garage {
	display: none;
	float: right;
	width: 285px;
	margin: 0 auto;
	text-align: left;
}
.lookup-garage-title {
	font-weight: bold;
	text-align: left;
	color: #FFF;
	margin-bottom: 15px;
}
.lookup-headings .lookup-garage-header {
	color: #FFF;
	background-color: #2A2A2A;
	font-size: 12pt;
	text-align: center;
}
.lookup-headings .lookup-car-value {
	border-radius: 0px 5px 5px 0px;
}
.lookup-car {
	width: 100%;
	clear: both;
	overflow: auto;
	margin-bottom: 5px;
	font-size: 11pt;
}
.lookup-car-vin {
	float: left;
	width: 65px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
	border-radius: 5px 0px 0px 5px;
}
.lookup-car-name {
	float: left;
	width: 30px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
}
.lookup-car-cond {
	float: left;
	width: 35px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
}
.lookup-car-value {
	float: left;
	width: 65px;
	margin-right: 5px;
	padding: 5px;
	background-color: #2E2E2E;
}
.lookup-car-view {
	text-align: center;
	float: left;
	width: 20px;
	padding: 5px;
	background-color: #2A2A2A;
	border-radius: 0px 5px 5px 0px;
}
.lookup-licenses {
	clear: both;
	display: none;
	float: right;
	text-align: left;
	width: 600px;
	margin: 0px auto 25px auto;
}
.lookup-licenses-title {
	font-weight: bold;
	text-align: left;
	color: #FFF;
	margin-bottom: 15px;
}
.lookup-license {
	position: relative;
	display: inline-block;
	width: 95px;
	height: 100px;
	margin: 0px 4px 0px 0px;
	border-radius: 5px;
	background-color: #2E2E2E;
}
.lookup-license-icon {
	text-align: center;
	height: 80px;
}
.lookup-license-icon img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: block;
	max-width: 70px;
}
.lookup-license-name {
	display: none;
	font-size: 8pt;
}

/* vin */

.vin {
	display: none;
	padding: 10px;
}
.vin h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-bottom: 75px;
	margin-bottom: 40px;
	color: #DDD;
}

/* settings */

.settings {
	padding: 10px 10px 60px 10px;
	display: none;
}
.settings i {
	font-size: 14pt;
}
.settings-menu {
	width: 285px;
	margin: 0 auto;
}
.settings h1 {
	text-align: center;
	font-size: 25pt;
	font-weight: initial;
	margin-top: 75px;
	margin-bottom: 40px;
	color: #DDD;
}
.setting {
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
}
.setting-icon {
	border-radius: 5px 0px 0px 5px;
	height: 40px;
	width: 40px;
	text-align: center;
	display: block;
	float: left;
	background-color: #2A2A2A;
}
.setting-name {
	width: 200px;
	height: 40px;
	display: block;
	float: left;
	margin: 0px 5px 0px 0px;
	background-color: #2A2A2A;
}
.setting-change-state {
	border-radius: 0px 5px 5px 0px;
	height: 40px;
	width: 40px;
	display: block;
	text-align: center;
	float: left;
	margin: 0;
	background-color: #2A2A2A;
	color: #FFF;
}
.about {
	margin-top: 40px;
	text-align: center;
	font-size: 10pt;
	color: #222;
}

/* line charts */

.line-graph {
	margin: 0;
	position: relative;
	width: 280px;
}
.height-standard {
	height: 45px;
}
.height-tall {
	height: 105px;
}
.line-labels {
	height: 20px;
	color: #FFF;
	font-size: 9pt;
}
.line-positive {
	float: left;
	height: 5px;
	border-right: solid 2px #333;
	border-radius: 2.5px 0px 0px 2.5px;
	background-color: #00FF00;
}
.line-positive-label {
	float: left;
	text-align: left;
}
.line-negative {
	width: auto;
	height: 5px;
	border-radius: 2.5px;
	background-color: #FF0000;
}
.line-negative-label {
	float: right;
	text-align: right;
}
.line {
	clear: both;
}

/* media queries */



@media (max-width: 650px) {
	.lookup-group {
		width: 285px;
	}
	.lookup-identity {
		width: 265px;
	}
	.lookup-licenses {
		width: 285px;
	}
	.lookup-garage {
		margin-bottom: 25px;
	}
	.lookup-license {
		width: 90px;
		height: 90px;
	}
	.search {
		width: 285px;
	}
	.search-box {
		width: 255px;
	}
}

@media (max-height: 500px) {
	.home h1, .lookup h1, .buddies h1, .vin h1, .settings h1 {
		font-size: 20pt;
		margin-top: 50px;
		margin-bottom: 15px;
	}
	h1.lookup-username {
		margin: 0;
	}
}